:root {
    --clr-background: #f8f8ff;
    --clr-accent: #25bad0;
    --clr-text: #454545;
    --clr-disabled: #b6b6b6;
}

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    min-height: 10vh;
}

body {
    display: flex;
    background-color: var(--clr-background);
    color: var(--clr-text);
    min-height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

main {
    flex: 1;
}

footer {
    padding: 1rem;
}

/*
    Credits for grid layout @KevinPowell
    https://codepen.io/kevinpowell/pen/ExrZrrw
*/
.content-grid {
    --padding-inline: 2rem;
    --content-max-width: 70ch;
    --breakout-max-width: 85ch;
    --breakout-size: calc((var(--breakout-max-width) - var(--content-max-width))/2);
    display: grid;
    grid-template-columns: [full-width-start] minmax(var(--padding-inline), 1fr) [breakout-start] minmax(0, var(--breakout-size)) [content-start] min(100% - var(--padding-inline) * 2, var(--content-max-width)) [content-end] minmax(0, var(--breakout-size)) [breakout-end] minmax(var(--padding-inline), 1fr) [full-width-end];
}

.content-grid> :not(.breakout, .full-width),
.content-grid .full-width> :not(.breakout, .full-width) {
    grid-column: content;
}

.content-grid>.breakout {
    grid-column: breakout;
}

.content-grid>.full-width {
    grid-column: full-width;
}

header {
    padding-block-start: 2rem;
    padding-block-end: 1rem;
    text-align: center;
}

header img {
    filter: drop-shadow(0px 1000px 0 var(--clr-accent));
    transform: translateY(-1000px);
}

main>* {
    margin-top: 1rem;
}

small code {
    display: inline-block;
    margin-block: 1rem;
    color: var(--clr-disabled);
}

.accent,
a {
    color: var(--clr-accent);
}

.student {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-block: 1rem;

}

.course {
    display: flex;
    flex-flow: row wrap;

}

.course .accent {
    margin-inline: 0.5ch;
}