:root {
    --clr-background: #f8f8ff;
    --clr-accent: #25bad0;
    --clr-text: #454545;
    --clr-disabled: #b6b6b6;
}

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--clr-background);
    color: var(--clr-text);
    min-height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/*
    Credits for grid layout @KevinPowell
    https://codepen.io/kevinpowell/pen/ExrZrrw
*/
.content-grid {
    --padding-inline: 2rem;
    --content-max-width: 70ch;
    --breakout-max-width: 85ch;
    --breakout-size: calc((var(--breakout-max-width) - var(--content-max-width))/2);
    display: grid;
    grid-template-columns: [full-width-start] minmax(var(--padding-inline), 1fr) [breakout-start] minmax(0, var(--breakout-size)) [content-start] min(100% - var(--padding-inline) * 2, var(--content-max-width)) [content-end] minmax(0, var(--breakout-size)) [breakout-end] minmax(var(--padding-inline), 1fr) [full-width-end];
}

.content-grid> :not(.breakout, .full-width),
.content-grid .full-width> :not(.breakout, .full-width) {
    grid-column: content;
}

.content-grid>.breakout {
    grid-column: breakout;
}

.content-grid>.full-width {
    grid-column: full-width;
}

header {
    padding-block: 2em;
}

header img {
    filter: drop-shadow(0px 1000px 0 var(--clr-accent));
    transform: translateY(-1000px);
}

main>* {
    margin-top: 2rem;
}

.accent {
    color: var(--clr-accent);
}

h1 {
    text-align: center;
    margin-block: 0.5rem;
}

.student {
    display: flex;
    justify-content: space-between;
}

.class-weeks {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
}

.week-link {
    background-color: white;
    padding: 0.5rem;
    border: 1px solid var(--clr-disabled);
}

.week-link a {
    color: var(--clr-accent);
}

.week-link a:not([href]) {
    color: var(--clr-disabled);
}